@import "./style/UI/global.scss";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// font variable
$roboto: "Roboto", sans-serif;

body {
  margin-top: 80px;
  padding: 0;
  font-family: $roboto;
}
